/* Estilos generales para la aplicación GranMarc */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  /* Reducido para móviles */
  background-color: #000000;
  /* Fondo claro, coherente con Nav.css */
}

/* Estilo para el logo en Header */
.logo {
  width: 150px;
  /* Tamaño ajustado */
  height: auto;
  display: block;
  margin: 10px auto;
  /* Centrado */
}

/* Media query para responsividad */
@media (max-width: 600px) {
  #root {
    padding: 0.5rem;
  }
}